<ion-view view-title="Answer Questions">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Answer Question</h1>
        <button class="button button-clear button-primary" ng-click="modal1.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <ion-item class="special-text"><pre>{{question}}</pre>
                <ion-option-button class="button-assertive" ng-click="removeConversation()">
                    wrap
                </ion-option-button>
            </ion-item>
            <label class="item item-input">
                <textarea my-maxlength="100" row="100" name="comment" id="comment-textarea" class="no-resize" ng-model="user.answer" placeHolder="write answer here..."></textarea>
            </label>
        </div>
    </ion-content>
    <ion-footer-bar>
        <button ng-disabled="disable" class="button button-full button-positive" ng-click="answer(user)">Submit Answer</button>
    </ion-footer-bar>
</ion-view>